.tweetBox {
  border-bottom: 1px solid var(--twitter-background);
  padding: 0px 8px 8px 0px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 4px 0px 4px 4px;
  display: flex;
}

.tweetBox__input > textarea {
  flex: 1;
  position: relative;
  margin-left: 4px;
  font-size: 14px;
  border: 1px solid var(--twitter-background);
  border-radius: 8px;
  padding: 8px;
  outline: none;
  overflow-wrap: normal;
  resize: none;
  font-family: inherit;
  /* Hiding scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tweetBox__input > textarea::-webkit-scrollbar {
  /* Hiding scrollbar */
  display: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 75px !important;
  height: 35px !important;
  margin-top: 4px !important;
  margin-left: auto !important;
}
