.tweetBox {
  border-bottom: 1px solid var(--twitter-background);
  padding: 4px 8px 8px 8px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding-bottom: 8px;
  display: flex;
}

.tweetBox__footer {
  display: flex;
}

.tweetBox__footer > input {
  flex: 0.6;
  margin-right: 8px;
  border: 2px solid black;
  outline: none;
  background-color: white;
  border-radius: 100px;
  padding: 6px;
}

.tweetBox__footer > input:focus {
  border: 2px solid gray;
}

.tweetBox__footer > input::placeholder {
  text-align: center;
  padding-right: 6px;
}

.tweetBox__input > textarea {
  flex: 1;
  position: relative;
  margin-left: 4px;
  font-size: 14px;
  padding: 8px;
  outline: none;
  overflow-wrap: normal;
  resize: none;
  font-family: inherit;
  border: none;
  /* Border */
  /* border: 1px solid var(--twitter-background);
  border-radius: 8px; */
  /* Hiding scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tweetBox__input > textarea::-webkit-scrollbar {
  /* Hiding scrollbar */
  display: none;
}

.tweetBox__tweetButton {
  flex: 0.2 !important;
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  margin-left: auto !important;
}
