.tweetBox {
  border-bottom: 1px solid var(--twitter-background);
  padding: 0px 8px 8px 0px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 4px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 8px;
  font-size: 14px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px !important;
  height: 40px !important;
  margin-top: 8px !important;
  margin-left: auto !important;
}
